body {
  background-color: var(--secondary-bg);
}

#main-container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  grid-auto-flow: column;
  padding: 40px;
  gap: 40px;
  justify-items: start;
  align-items: start;
  border-radius: 20px;;
}

.project-stack i {
  font-size: 2em;
  padding: 5px;
  /* color: var(--primary-text); */
}

.host-locations {
  text-align: center;
}

p {
  text-indent: 1em;
  margin-top: 1em;
}

.flexbox20 {
  display: flex;
  column-gap: 20px;
}

.preview-img-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.preview-img-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;

}