:root {
  --primary-color:#f20;
  --primary-text:#eee;
  --primary-bg:#111;
  --secondary-bg:#222;
  --tertiary-bg: #333;

  --header-bg: linear-gradient(#000, #333);
  --hero-bg: linear-gradient(rgba(50,50,50,0.8), rgba(50,0,0,0.8)), url("./images/circuit-bg.jpg");
  --resume-button: linear-gradient(var(--primary-color) 10%, #333);

  --project-bg: ;
  --project-text: ;
}

[data-theme='dark'] {
  --primary-color:#f20;
  --primary-text:#eee;
  --primary-bg:#111;
  --secondary-bg:#222;
  --tertiary-bg: #333;

  --header-bg: linear-gradient(#000, #333);
  --hero-bg: linear-gradient(rgba(50,50,50,0.8), rgba(50,0,0,0.8)), url("./images/circuit-bg.jpg");
  --resume-button: linear-gradient(var(--primary-color) 10%, #333);

  --project-bg: ;
  --project-text: ;
}

[data-theme='light'] {
  --primary-color:#03f;
  --primary-text:#111;
  --primary-bg:#eee;
  --secondary-bg:#ddd;
  --tertiary-bg: #ccc;

  --header-bg: linear-gradient(#eee, #ccc);
  --hero-bg: linear-gradient(rgba(220,220,250,0.8), rgba(150,150,250,0.7)), url("./images/circuit-bg.jpg");
  --resume-button: linear-gradient(#dee 1%, #ace 65%, #03f);

  --project-bg: ;
  --project-text: ;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: background 300ms, color 200ms;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  font-family: 'Roboto', 'Helvetica';
  background-color: var(--primary-bg);
  color: var(--primary-text);
  overflow-x: hidden;
}

header {
  height: 70px;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  align-items: center;
  background-image: var(--header-bg);
  top: 0;
  z-index: 10;
}

#theme-switch {
  opacity: 0;
}

#theme-switch ~ label {
  display: flex;
  align-items: center;
}

#theme-switch ~ label span {
  font-size: 1.4rem;
}

.switch {
  width: 50px;
  height: 20px;
  position: relative;
  border-radius: 10px;
  background-color: var(--primary-color);
}

.switch::after {
  content: "";
  background-color: var(--primary-text);
  height: 30px;
  width: 30px;
  position: absolute;
  border-radius: 50%;
  top: -5px;
  left: 25px;
  transition: left 100ms;
}

#theme-switch:checked ~ label .switch::after {
  left: 0px;
}

.hero {
  height: 70vh;
  width: 100%;
  margin-top: 70px;
  position: relative;
}

.hero::before {
  content: "";
  background-image: var(--hero-bg);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.8;
}

.hero div {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

.hero h1 {
  font-size: 5rem;
  width: 50%;
}

.hero p {
  letter-spacing: .8rem;
}

section {
  padding: 20px 10%;
  min-height: 100vh;
}

nav {
  margin-left: auto;
  margin-right: 20px;
}

nav ul li {
  list-style: none;
  float: left;
  padding: 20px;
  margin: 0 5px;
}

nav ul li:hover {
  background-color: #666;
}

header input {
  padding: 6px 12px;
  background-color: var(--primary-color);
  background: var(--resume-button);
  color: var(--primary-text);
  font-weight: 700;
  border-radius: 5px;
}

#about {
  /* column-count: 2; */
  display: grid;
  grid-template-columns: 60% 30%;
  grid-template-rows: max-content;
  gap: 10%;
}

#about h2 {
  grid-column-end: span 2;
  height: fit-content;
}

.about-box {
  background-color: var(--secondary-bg);
  padding: 20px;
  border-radius: 20px;
  height: fit-content;
}

#about h3 {
  font-size: 2rem;
}

#about p {
  font-size: 1.2rem;
  text-indent: 1rem;
  margin-bottom: 2rem;
  line-height: 2rem;
}

#projects {
  background-color: var(--secondary-bg);
  position: relative;
}

#project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-card {
  font-size: 1.3em;
  color: var(--primary-text);
  background-color: var(--tertiary-bg);
  height: 400px;
  width: 400px;
  border-radius: 40px;
  margin: 20px;
  padding: 40px;
  transition: transform 100ms;
}

.project-card:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.4);
}

.project-card > div {
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  height: 270px;
  border-radius: 4px 4px 10px 10px;
  opacity: 0.75;
}

.project-card > div img {
  
}

.project-card > div:hover {
  opacity: 1;
}

#contact form {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 50px auto;
  border: 1px var(--primary-text) solid;
  padding: 50px;
  border-radius: 40px;
  background-color: var(--secondary-bg);
}

form input {
  margin-bottom: 20px;
  width: 50%;
}

#contact-submit {
  margin: 20px auto 0 auto;
  width: fit-content;
  padding: 6px 12px;
}

i {
  font-size: 5rem;
  color: var(--primary-color);
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 3em;
}

/* MODAL */

#projects iframe {
  display: none;
}

.modal-screen #modal-screen {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.7);
  top: 0;
  left: 0;
  z-index: 11;
}

.modal-screen #modal-screen iframe {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80vh;
  width: 60vw;
  border-radius: 20px;
}
